.resources-button {
  margin-top: 8px;
  font-weight: bold;
}

.resources-bar {
  margin-top: 51px;

  .british {
		@include british-button;
	}

	.patriot {
		@include patriot-button;
	}

	.french {
		@include french-button;
	}

	.indian {
		@include indian-button;
	}
}