$britishButtonTextColour: white;
$britishButtonTextBackgroundColour: rgb(212, 38, 48);

$patriotButtonTextColour: white;
$patriotButtonTextBackgroundColour: rgb(45, 38, 105);

$frenchButtonTextColour: black;
$frenchButtonTextBackgroundColour: lightgray;

$indianButtonTextColour: white;
$indianButtonTextBackgroundColour: rgb(189, 155, 94);